<!-- epic.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPIC Images</title>
</head>
<body>
    <h1>EPIC Images</h1>
    <ul>
        {% for image in epic_images %}
            <li>
                <p>Date: {{ image.date }}</p>
                <img src="{{ image.url }}" alt="EPIC Image">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
