.GridListContainer {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: grid;
    grid-column-start: auto;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 1890px;
    padding: 0 16px 60px;
    position: relative;
}
#loading-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    display: none; /* Hide by default */
    z-index: 9999; /* Make sure it's on top of other content */
}


.card {
margin-bottom: 40px;
}

.mt-5{
    margin: 0px !important;
}

#galacticCenterContainer {
    flex: 1; /* This will push the footer to the bottom when content is insufficient */
}

html, body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;  /* Light background color */
    color: #000000;  /* Dark text color */
    padding: 30px 0;  /* Generous padding for balanced spacing */
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

.footerform {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;  /* Light background color */
    color: #000000;  /* Dark text color */
    padding: 50px 0;  /* Generous padding for balanced spacing */
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}


.footer .container {
    display: flex;
    align-items: center;
    max-width: 358px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 10px; /* Minimal spacing between elements */
}

.footer p {
    margin: 0;
    width: 100%;
    padding-right: 10px; /* Adds slight padding between text and icons */
}

.footer .social-icons {
    display: flex;
    gap: 15px; /* Reduces space between icons */
}

.footer .social-icons a img {
    width: 24px;
    height: 24px;
}

.apodresponsive-text {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 !important;
    margin-bottom: 40px !important;
}
    .responsive-text {
        font-size: 16px;
        line-height: 1.5;
        padding: 0 !important;
        margin-bottom: 20px !important;
    }

.logincontainer {
    display: inline-block;
    text-align: center;
    padding-right: .5rem;
    padding-left: .5rem;
}

.login {
    width: 24px; /* Adjust width as needed */
    height: 24px; /* Adjust height as needed */
    vertical-align: middle;
}

.formrow{
    margin: 0px;
    display: flex;
    justify-content: center;
}

.form-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
}

.background-container1 {
    background-image: url('img1.jpg');
    height: 70vh; /* Or adjust this based on your requirements */
    margin-top: 0;
    margin-bottom: 50px;
}

.background-container2 {
    background-image: url('img2.jpg');
    height: 70vh;
    margin-top: 0;
    margin-bottom: 50px;
}

.background-container3 {
    background-image: url('img7.jpg');
    height: 70vh;
    margin-top: 0;
    padding-bottom: 50px; /* Spacer for footer */
    margin-bottom: 50px;
}




body {
    margin: 0;
    padding: 0;
    background-color: #2D2F31;
    font-family: 'Roboto', sans-serif;
}

.custom-button {
    background-color: #002C5B;
    border: 1px solid #002C5B;
    color: #fff;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to indicate interactivity */
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
}

/* Style the button on hover */
.custom-button:hover {
    background-color: #001A35; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}


/* Add this rule to style the Galactic Center Sonification section container */
#galacticCenterContainer {
    background-color: #2D2F31; /* Set black background color */
    color: #fff; /* Set white text color */
    margin-bottom: 0; /* Remove margin bottom for the section container */
    padding-right: 0px; 
    padding-left: 0px;
}

#galacticCenterContent {
    padding-left: 40px;
    padding-right: 40px;
}

/* Define a custom header class */
.custom-header {
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 20px; /* Add bottom margin to align with paragraph */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.text-container {
    text-align: left;
    margin-bottom: 20px; /* Adjust margin as needed */
}


.audio-container {
    text-align: left;
    padding: 10px;
}

.overlay-content {
    text-align: left;
}


img {
    max-width: 100%;
    height: auto;
    display: block; /* To remove extra space below inline images */
    margin: 0; /* To center the image horizontally */
}

/* Navbar styles */
.navbar {
    padding: 40px 40px; 
    background-color: #fff; /* Set your desired background color */
}

.navbar-brand img {
    margin-right: 0px;
}

/* Navbar link styles */
.navbar-nav {
    margin: 0; /* Remove margin from navbar items */
}

.navbar-nav .nav-link {
    color: #000; /* Set your desired color */
    margin: 0; /* Remove margin from navbar links */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Set your desired hover color */
}

.navbar-nav .nav-link img {
    vertical-align: middle; /* Aligns with text baseline */
    margin-top: -2px; /* Adjust if necessary */
}

/* Navbar dropdown styles */
.dropdown-menu {
    background-color: #fff; /* Set your desired background color */
    border: 1px solid #ddd; /* Set your desired border color */
}

/* Common styles for background containers */
.background-container,
.container-api
{
    text-align: left;
}


.container-api img {
    max-width: 100%; /* Set the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
}


.container-api {
    padding: 0 20px; /* Add horizontal padding to the container */
    max-width: 100%; /* Ensure the container does not exceed the screen width */
    margin: 0 auto; /* Center the container horizontally */
}


.content {
    text-align: left; /* Align text to the left */
    align-self: flex-start; /* Align the content to the start (top) */
}


.container-api h1 {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 0px;
}
.container-api p {
    padding-left: 20px;
    padding-right: 50px;
}/* Add this rule for the container-api class */

@media (max-width: 394px) {
    #loading-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        display: none; /* Hide by default */
        z-index: 9999; /* Make sure it's on top of other content */
        max-width: 90%;
        width: 90%;
    }
    .signup{
        margin-bottom: 40px; 
        margin-top: 40px; 
    }
    .footer {
        height: 80px; /* Smaller height on mobile devices */
        padding: 10px; /* Reduce padding for mobile screens */
    }
    .btn-primary{
        color: #ffffff !important;
        background-color: #000000;
        border: #000000;
        margin-bottom: 0px !important;
        margin-top: 35px !important; 
        padding: 15px;
        margin-right: 0px !important;
        max-width: 90%;
        width: 90%;
    }
    #apodgalacticCenterContent .row {
        display: block !important;
        flex-direction: row; /* Align columns side-by-side */
        justify-content: space-between;
        align-items: flex-start;
        margin-right: 0px;
        margin-left: 0px;
        }
    }
        .limited-height{
        width: 100%; /* Fill the entire width of the image column */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover;
        margin-bottom: 40px;
        }
    .row {
        margin-top: 40px !important;
        display: flex; /* Use flexbox for row alignment */
        justify-content: center; /* Center columns within row */
    }
    .btn-block {
        max-width: 100% !important;
        color: #ffffff !important;
        background-color: hsl(0, 0%, 0%);
        border: #000000;
        margin-bottom: 0px !important;
        margin-top: 35px !important; 
        padding: 15px;
        margin-right: 0px !important;
    }

    
    .neo-table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        background-color: #2D2F31;
        color: white;
        margin-bottom: 20px;
        table-layout: fixed; /* Prevents columns from expanding */
    }
    .background-container1,
    .background-container2,
    .background-container3 {
        position: relative;
        width: 100%;
        min-height: 100vh; /* Ensures the container covers the full viewport height */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
       
    }

    .logincontainer {
        display: inline-block;
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .overlay-content {
        position: absolute; /* Position content relative to .background-container */
        text-align: center; /* Center text horizontally */
        color: white; /* Text color */
        width: 100%; /* Ensure content spans full width */
        
    }

.overlay-content h1,
.overlay-content h2 {
    margin: 0; /* Remove default margins */
}
    .table{
        margin-bottom: 0px;
    }
.pfoot{
    color:#000000
}
   
    .bgrnd{
       color: #ffffff;
    }
    
    h1 {
        font-size: 32px !important;
        margin-bottom: 30px !important;
        margin-top: 0px !important;
      }
    
      h2 {
        font-size: 28px !important;
      }
     
    
    
    .embed-responsive{
        margin-bottom: 40px !important;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    

    
    @media (min-width: 395px) and (max-width: 768px)
    {
        .footer {
            height: 100px !important; /* Smaller height on mobile devices */
            padding: 10px; /* Reduce padding for mobile screens */
        }
        #apodgalacticCenterContent .row {
            display: block !important;
            flex-direction: row; /* Align columns side-by-side */
            justify-content: space-between;
            align-items: flex-start;
            margin-right: 0px;
            margin-left: 0px;
            }
        }
        .btn-primary{
            color: #ffffff !important;
            background-color: #000000;
            border: #000000;
            margin-bottom: 0px !important;
            margin-top: 35px !important; 
            padding: 15px;
            margin-right: 0px !important;
            max-width: 50%;
            width: 60%;
            
        }
    
        .limited-height{
            width: 100%; /* Fill the width of the image column */
            height: auto; /* Maintain aspect ratio */
            object-fit: cover;
            margin-bottom: 40px;
                }
        
        .btn-block {
            max-width: 100% !important;
            color: #ffffff !important;
            background-color: hsl(0, 0%, 0%);
            border: #000000;
            margin-bottom: 0px !important;
            margin-top: 35px !important; 
            padding: 15px;
            margin-right: 0px !important;
        }
        .row {
            margin-top: 40px !important;
            display: flex; /* Use flexbox for row alignment */
            justify-content: center; /* Center columns within row */
        }

        .col-md-6 {
            flex: 1; /* Allow column to grow to fill available space */
            max-width: 100%; /* Set maximum width to 100% */
            padding: 0px;
        }

        .background-container1,
        .background-container2,
        .background-container3 {
        position: relative;
        width: 100%;
        min-height: 100vh; /* Ensures the container covers the full viewport height */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
           
        }
    
        .overlay-content {
            position: relative; /* Position content relative to .background-container */
            text-align: center; /* Center text horizontally */
            color: white; /* Text color */
            width: 100%; /* Ensure content spans full width */
            
        }
    
    
    .overlay-content h1,
    .overlay-content h2 {
        margin: 0; /* Remove default margins */
    }
        .table{
            margin-bottom: 0px;
        }
    .pfoot{
        color:#000000
    }
        .neo-table {
            width: 50%; /* Set table width to 100% of its container */
            margin: 0 auto; /* Center the table horizontally */
            border-collapse: collapse;
            background-color: #2D2F31; /* Set table background to black */
            color: white; /* Set text color to white */
            margin-bottom: 20px;
        }  
    
        
        .bgrnd{
           color: #ffffff;
        }
        
        h1 {
            font-size: 40px !important;
            margin-bottom: 30px !important;
            margin-top: 0px !important;
          }
        
          h2 {
            font-size: 32px !important;
          }
          
        
        
        .embed-responsive{
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 0px;
        }
       
    .full-width-mobile {
        width: 90%;
        margin-bottom: 0px; /* Add margin if you need spacing between buttons */
      }

    @media (min-width: 769px) {
        .btn-primary{
            color: #ffffff !important;
            background-color: #000000;
            border: #000000;
            margin-bottom: 0px !important;
            margin-top: 35px !important; 
            padding: 15px;
            margin-right: 0px !important;
            max-width: 20%;
            width: 30%; 
        }
    }
        #galacticCenterContainer {
            padding: 0px; /* Optional: Add padding around the content */
        }
        
        #galacticCenterContent {
            max-width: 100%; /* Ensure content does not exceed viewport width */
            margin: 0px; /* Center the content horizontally */
        }
        #apodgalacticCenterContent .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start; /* Align columns starting from the left */
            align-items: flex-start;
            gap: 40px; /* Adjust the gap between columns without large outer margins */
            padding: 0 10px; /* Adjust padding as needed to control row spacing */
        }
        
    
        /* Ensure the image fills the full width of its column */
        .limited-height{
            width: 100%; /* Fill the entire width of the image column */
            max-height: 500px; /* Maintain aspect ratio */
            object-fit: cover;
            margin-bottom: 40px;
        }
        
    
        

    
        .btn-block {
            max-width: 100% !important;
            color: #ffffff !important;
            background-color: hsl(0, 0%, 0%);
            border: #000000;
            margin-bottom: 0px !important;
            margin-top: 35px !important; 
            padding: 15px;
            margin-right: 0px !important;
        }
        .col-md-6 {
            flex: 1; /* Allow column to grow to fill available space */
            max-width: 100%; /* Set maximum width to 100% */
        }
        .row {
            margin-top: 40px !important;
            display: flex; /* Use flexbox for row alignment */
            justify-content: center; /* Center columns within row */
        }

        .th,td{
            color: #ffffff;
        }

        .background-container1,
        .background-container2,
        .background-container3 {
            position: relative;
        width: 100%;
        min-height: 100vh; /* Ensures the container covers the full viewport height */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
           
        }
    
        .overlay-content {
            position: relative; /* Position content relative to .background-container */
            text-align: center; /* Center text horizontally */
            color: white; /* Text color */
            width: 100%; /* Ensure content spans full width */
            
        }
    
    .overlay-content h1,
    .overlay-content h2 {
        margin: 0; /* Remove default margins */
    }
        .table,table-bordered{
            margin: 0px !important;
            padding: 0px !important;
        }
    .pfoot{
        color:#000000
    }
        .neo-table {
            width: 100%; /* Set table width to 100% of its container */
            margin: 0 auto; /* Center the table horizontally */
            border-collapse: collapse;
            background-color: #2D2F31; /* Set table background to black */
            color: white; /* Set text color to white */
            margin-bottom: 20px;
        }  
    
        
        .bgrnd{
           color: #ffffff;
        }
        
        h1 {
            font-size: 40px !important;
            margin-bottom: 30px !important;
            margin-top: 0px !important;
          }
        
          h2 {
            font-size: 36px !important;
          }
        
        .embed-responsive{
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 0px;
        }
        .full-width-mobile {
        width: 90%;
        margin-bottom: 0px; /* Add margin if you need spacing between buttons */
      }

    
    


@media (min-width: 1440px)  {
    .content {
        margin-left: 40px;
    }
    
    
    #apodgalacticCenterContent .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* Align columns starting from the left */
        align-items: flex-start;
        gap: 0px; /* Adjust the gap between columns without large outer margins */
        padding: 0 10px; /* Adjust padding as needed to control row spacing */
    }

    #apodgalacticCenterContent {
            margin-left: 40px;   /* Remove left margin */
            margin-right: 0px;  /* Remove right margin */
            padding-left: 0px; /* Optional: Adjust padding to add some space inside */
            padding-right: 0px; /* Optional: Adjust padding to add some space inside */
            max-width: 100%;    /* Ensure it takes full width of the container */
            width: 95%;        /* Ensure it's set to 100% of available space */
        }
        
    
        .limited-height{
        width: 100%; /* Fill the entire width of the image column */
        max-height: 500px; /* Maintain aspect ratio */
        object-fit: cover;
        margin-bottom: 40px;
        }
    
    .row {
        margin-top: 40px;
        display: flex; /* Use flexbox for row alignment */
        justify-content: center; /* Center columns within row */
    }
    .btn-block {
        max-width: 100% !important;
        color: #ffffff !important;
        background-color: hsl(0, 0%, 0%);
        border: #000000;
        margin-bottom: 0px !important;
        margin-top: 35px !important; 
        padding: 15px;
        margin-right: 0px !important;
    }
    .btn-primary{
        color: #ffffff !important;
        background-color: #000000;
        border: #000000;
        margin-bottom: 0px !important;
        margin-top: 35px !important; 
        padding: 15px;
        margin-right: 0px !important;
        max-width: 10%;
        width: 90%;
        
    }
    
    .col-md-6 {
        flex: 1; /* Allow column to grow to fill available space */
        max-width: 100%; /* Set maximum width to 100% */
        padding: 0px;
    }
    

    .background-container1,
    .background-container2,
    .background-container3 {
        position: relative;
        width: 100%;
        min-height: 100vh; /* Ensures the container covers the full viewport height */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    }
}
    
        .overlay-content {
            position: relative; /* Position content relative to .background-container */
            text-align: center; /* Center text horizontally */
            color: white; /* Text color */
            width: 100%; /* Ensure content spans full width */
            
        }
    
    .overlay-content h1,
    .overlay-content h2 {
        margin: 0; /* Remove default margins */
    }
        .table{
            margin-bottom: 0px;
        }
    .pfoot{
        color:#000000
    }
        .neo-table {
            width: 150%; /* Set table width to 100% of its container */
            margin: 0 auto; /* Center the table horizontally */
            border-collapse: collapse;
            background-color: #2D2F31; /* Set table background to black */
            color: white; /* Set text color to white */
            margin-bottom: 20px;
        }  

        .table{
            margin: 0px;
          }
    
        
        .bgrnd{
           color: #ffffff;
        }
        
        h1 {
            font-size: 40px !important;
            margin-bottom: 30px !important;
            margin-top: 0px !important;
          }
        
          h2 {
            font-size: 36px !important;
          }
          
        
        
        .full-width-mobile {
        width: 8%;
        margin-bottom: 0px; /* Add margin if you need spacing between buttons */
      }

      

    
