/* Reset some default styles */
h1, h2, h3, p, ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Define a custom header class */
.custom-header {
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 20px; /* Add bottom margin to align with paragraph */
}


/* Add this rule for the top padding of videos */
.embed-responsive iframe {
    padding-top: 20px;
    margin-left: 50px; 
}

@media screen and (max-width: 769px) {
    .embed-responsive iframe {
        margin-left: 0; /* Remove the left margin */
    }
}

.text-container {
    text-align: left;
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Add this rule for the responsive paragraph of text */
.responsive-text {
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5;
}

.audio-container {
    text-align: left;
    padding: 10px;
}

.overlay-content {
    text-align: left;
}

.overlay-content h1 {
    margin-bottom: 10px;
    margin-top: 100px;
}

.overlay-content h3 {
    margin-bottom: 10px;
    margin-top: 25px;
}

.overlay-content button {
    margin-top: 25px; /* Adjust margin as needed */
}

/* Add this rule to style the img element */
img {
    max-width: 100%;
    height: auto;
    display: block; /* To remove extra space below inline images */
    margin: 0 auto; /* To center the image horizontally */
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar styles */
.navbar {
    padding: 20px 20px; 
    background-color: #fff; /* Set your desired background color */
}

.navbar-brand img {
    margin-right: 10px;
}

/* Navbar link styles */
.navbar-nav {
    margin: 0; /* Remove margin from navbar items */
}

.navbar-nav .nav-link {
    color: #000; /* Set your desired color */
    margin: 0; /* Remove margin from navbar links */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Set your desired hover color */
}

/* Navbar dropdown styles */
.dropdown-menu {
    background-color: #fff; /* Set your desired background color */
    border: 1px solid #ddd; /* Set your desired border color */
}

/* Common styles for background containers */
.background-container,
.container-api,
.footer,
.social-icons {
    text-align: left;
}

/* Background container styles */
.background-container {
    position: relative;
    width: 100vw; /* Use 100vw for the full width of the viewport */
    min-height: 100vh; /* Set the minimum height to cover the entire viewport */
    margin-bottom: 0;
    padding: 20px;
    color: #fff;
    background-position: center;
    background-size: cover; /* Ensure the background image scales responsively */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
}

.background-container h1,
.background-container h3,
.background-container p {
    margin-bottom: 10px;
}


.container-api img {
    max-width: 100%; /* Set the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
}


.container-api {
    padding: 0 20px; /* Add horizontal padding to the container */
    max-width: 100%; /* Ensure the container does not exceed the screen width */
    margin: 0 auto; /* Center the container horizontally */
}


.content {
    text-align: left; /* Align text to the left */
    align-self: flex-start; /* Align the content to the start (top) */
}


.container-api h1 {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 0px;
}
.container-api p {
    padding-left: 20px;
    padding-right: 50px;
}/* Add this rule for the container-api class */

.footer {
    background-color: #f8f9fa; /* Bootstrap light gray background color */
    padding: 20px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0; /* Ensure no margin at the bottom of the footer */
}

/* Social icons styles */
.social-icons {
    margin-top: 20px; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 30px; /* Adjust the width of the social media icons as needed */
    height: 30px; /* Adjust the height of the social media icons as needed */
    margin: 0 10px; /* Adjust the margin between icons as needed */
    vertical-align: middle;
}

/* Define a new class for the background image */

.background-container1 {
    background-image: url('img1.jpg');
}

.background-container2 {
    background-image: url('img4.jpg');
}

.background-container3 {
    background-image: url('img7.jpg');
}

/* Add this rule to your CSS sheet */
.custom-button {
    background-color: #002C5B;
    border: 1px solid #002C5B;
    color: #fff;
}


.custom-button {
    background-color: #002C5B;
    border: 1px solid #002C5B;
    color: #fff;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to indicate interactivity */
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
}

/* Style the button on hover */
.custom-button:hover {
    background-color: #001A35; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

/* Style the collapsed state of the content */
#readMoreText {
    display: none; /* Hide the content by default */
}

/* Add this rule to style the Galactic Center Sonification section container */
#galacticCenterContainer {
    background-color: #2D2F31; /* Set black background color */
    color: #fff; /* Set white text color */
    margin-bottom: 0; /* Remove margin bottom for the section container */
    padding: 40px 0; /* Add padding to the top and bottom of the section container */
}

#galacticCenterContent {
    padding: 40px; /* Add padding to the content inside the section container */
}
