/* Reset some default styles */
h1, h2, h3, p, ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left:  0px;
}

body {
    margin-top: 0px;
    margin-bottom: 20px;
    padding:  0px;
}

/* Add this rule for the top padding of videos */
/* Add this rule for the top padding of videos */
.embed-responsive iframe {
    padding-top: 20px;
}


/* Add this rule for the container-api class */
.container-api {
    padding: 0px;
}

/* Add this rule for the h1 and p elements inside container-api */
.container-api h1{
    padding-left: 10px;
}
.container-api p {
    padding-left: 10px;
}

/* Add this rule for the text container */
.text-container {
    text-align: left;
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Add this rule for the responsive paragraph of text */
.responsive-text {
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; 
}

.audio-container {
    text-align: left;
    padding: 10px;
}
.overlay-content {
    text-align: left;
}

.overlay-content h1
{
    margin-bottom: 10px;
    margin-top: 100px;
}
.overlay-content h3 {
    margin-bottom: 10px;
    margin-top: 25px;
}

.overlay-content button {
    margin-top: 25px; /* Adjust margin as needed */
}

/* Add this rule to style the img element */
img {
    max-width: 100%;
    height: auto;
    display: block; /* To remove extra space below inline images */
    margin: 0 auto; /* To center the image horizontally */
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #fff; /* Set your desired background color */
}

.navbar-brand img {
    margin-right: 10px;
}


/* Navbar link styles */
.navbar-nav .nav-link {
    color: #000; /* Set your desired color */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Set your desired hover color */
}

/* Navbar dropdown styles */
.dropdown-menu {
    background-color: #fff; /* Set your desired background color */
    border: 1px solid #ddd; /* Set your desired border color */
}

/* Common styles for background containers */
.background-container,
.container-api,
.footer,
.social-icons {
    text-align: left;
}

/* Background container styles */
.background-container {
    position: relative;
    width: 100vw; /* Use 100vw for the full width of the viewport */
    height: 100vh;
    margin-bottom: 0px;
    padding: 20px;
    color: #fff;
    background-position: center;
    background-size: cover; /* Ensure the background image scales responsively */
}

.background-container h1,
.background-container h3,
.background-container p {
    margin-bottom: 10px;
}

/* Container styles for API content */
.container-api {
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}

.container-api img {
    max-width: 100%; /* Set the image width to 100% of its container */
    height: auto;
    margin-bottom: 10px; /* Adjusted margin for reducing space between elements */
}

/* Footer styles */
.footer {
    background-color: #f8f9fa; /* Bootstrap light gray background color */
    padding: 20px 0;
    text-align: center;
}

/* Social icons styles */
.social-icons {
    margin-top: 20px; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 30px; /* Adjust the width of the social media icons as needed */
    height: 30px; /* Adjust the height of the social media icons as needed */
    margin: 0 10px; /* Adjust the margin between icons as needed */
    vertical-align: middle;
}

/* Define a new class for the background image */
.body-background-image {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-container1 {
    background-image: url('https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZnJlZSUyMHNwYWNlJTIwaW1hZ2VzfGVufDB8fDB8fHww');
}

.background-container2 {
    background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZyZWUlMjBzcGFjZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D');
}

.background-container3 {
    background-image: url('https://images.unsplash.com/photo-1622784618764-f60d51bd1fc6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZy');
}
/* Add this rule to your CSS sheet */
.custom-button {
    background-color: #002C5B;
    border: 1px solid #002C5B;
    color: #fff; 
    
}

