<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='slogo.svg') }}" alt="Logo" width="92" height="24
                    class="d-inline-block align-top">
            </a>
            <!-- Navbar toggler for small screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar items (right-aligned) -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apod">APOD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iss_location">ISS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/neo">NEO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   
    <!-- ISS Location Section -->
    <div id="galacticCenterContainer">
        <div class="container" id="galacticCenterContent">
            <div class="row">
                <div class="col-md-6">
        <h1>Current ISS Location</h1>
        <table class="table bgrnd">
            <thead>
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                   
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ latitude }}</td>
                    <td>{{ longitude }}</td>
                    
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
    <div id="galacticCenterContainer">
        <div class="container" id="galacticCenterContent">
            <div class="row">
                <div class="col-md-6">
                    <h1>The ISS</h1>
                    <p class="responsive-text">
                        The International Space Station (ISS) stands as a remarkable testament to international collaboration in space exploration. Orbiting Earth at an average altitude of approximately 420 kilometers (261 miles), the ISS serves as a microgravity laboratory where astronauts and cosmonauts from various countries conduct scientific research and experiments that benefit humanity.<br><br>  Launched in 1998, the ISS represents a joint effort involving space agencies such as NASA (United States), Roscosmos (Russia), ESA (European Space Agency), JAXA (Japan Aerospace Exploration Agency), and CSA (Canadian Space Agency). 
                    </p>
                </div>

                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/P9C25Un7xaM?si=KzNOBFU7Hb2sPV-k"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Space. All rights reserved.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" title="Share on Facebook"><img
                        src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook"></a>
                <a href="https://www.instagram.com/" target="_blank" title="Share on Instagram"><img
                        src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram"></a>
                <!-- Add more social media icons as needed -->
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>
