<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="logo-container">
                    <img src="{{ url_for('static', filename='slogo.svg') }}" alt="Logo" width="92" height="24" class="logo d-inline-block align-top">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apod">APOD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iss_location">ISS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/neo">NEO</a>
                    </li>
                    <li class="nav-item">
                        {% if username %}
                            <a class="nav-link" href="#" id="profileName" data-toggle="modal" data-target="#profileModal">Hello, {{ username }}!</a>
                        {% else %}
                            <a class="navbar-brand" href="/login">
                                <div class="logo-container">
                                    <img src="{{ url_for('static', filename='login.svg') }}" alt="Login" width="24" height="24" class="logo d-inline-block align-top">
                                </div>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div id="galacticCenterContainer">
        <div class="container" id="galacticCenterContent">
            <div class="row">
                <div class="col-md-6">
                    <h1>Near Earth Objects</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered container neo-table" id="neoTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Approach</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for neo_info in neo_info %}
                                <tr>
                                    <td>{{ neo_info.name }}</td>
                                    <td>{{ neo_info.approach_date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="galacticCenterContainer">
            <div class="container" id="galacticCenterContent">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Galactic Center Sonification</h1>
                    <p class="responsive-text">
                        Explore the center of our very own Milky Way galaxy! The translation begins on the left side of
                        the
                        image and moves to the right, with the sounds representing the position and brightness of the
                        sources. The light of objects located towards the top of the image is heard as higher pitches
                        while
                        the intensity of the light controls the volume.<br><br>Stars and compact sources are converted to
                        individual
                        notes while extended clouds of gas and dust produce an evolving drone. The crescendo happens when
                        we
                        reach the bright region to the lower right of the image. This is where the 4-million-solar-mass
                        supermassive black hole at the center of the Galaxy, known as Sagittarius A*, resides, and where
                        the
                        clouds of gas and dust are the brightest.
                    </p>
                    
                        <div class="embed-responsive embed-responsive-16by9 iss-video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/QV8sYb5xqLE?si=B-yVrQQH4iWNARZp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
</div>

   

    <footer class="footer">
        <div class="container">
            <p class="pfoot">&copy; 2024 Space. All rights reserved.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" title="Share on Facebook"><img
                        src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook"></a>
                <a href="https://www.instagram.com/" target="_blank" title="Share on Instagram"><img
                        src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram"></a>
                <!-- Add more social media icons as needed -->
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
