<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Space</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="logo-container">
                    <img src="{{ url_for('static', filename='slogo.svg') }}" alt="Logo" width="92" height="24" class="logo d-inline-block align-top">
                </div>
            </a>
            
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"> <!-- Added ml-auto here -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apod">APOD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iss_location">ISS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/neo">NEO</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                </ul>
            </div>
            
        </div>
    </nav>
    <div id="overlay" style="display: none;">
        <div class="overlay-content" id="accountDetails">
            <!-- Account details will be inserted here -->
          
        </div>
        <button id="closeButton">Close</button>
        <button class="btn btn-primary custom-button" onclick="window.location.href='/login'">Login</button>
        <button class="btn btn-primary custom-button" onclick="window.location.href='/signup'">Sign Up</button>
    </div>
    
    

    <div class="background-container1">
        <div class="overlay-content">
            <div class="text-center">
                <h1>Astronomy Picture <br>of the Day - NASA</h1>
                <h2>Discover the cosmos!</h2>
                <button class="btn btn-primary custom-button full-width-mobile" onclick="window.location.href='/apod'">View Photo</button>
            </div>
        </div>
    </div>

    <div class="background-container background-container2">
        <div class="overlay-content">
            <div class="text-center">
                <h1>International <br>Space Station</h1>
                <h2>See the view from the ISS <br>and it's current location</h2>
                <button class="btn btn-primary custom-button full-width-mobile"
                    onclick="window.location.href='/iss_location'">Find the ISS</button>
            </div>
        </div>
    </div>

    <div class="background-container background-container3">
        <div class="overlay-content">
            <div class="text-center">
                <h1>Near Earth Objects</h1>
                <h2>Explore NASA's log of Near Earth Objects and listen<br> to the sound of the Milky Way
                    Galaxy</h2>
                <button class="btn btn-primary custom-button full-width-mobile" onclick="window.location.href='/neo'">View NEO</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Space. All rights reserved.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/" target="_blank" title="Share on Facebook"><img
                        src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook"></a>
                <a href="https://www.instagram.com/" target="_blank" title="Share on Instagram"><img
                        src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram"></a>
                <!-- Add more social media icons as needed -->
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>
